# Canonical name          <canonical email>          <commit email>
Benjamin DONNOT <benjamin.donnot@rte-france.com>
BDonnot <benjamin.donnot@gmail.com>
Eva BOGUSLAWSKI <eva.boguslawski@gmail.com>
Xavier WEISS <xavierw@kth.se>
